<div class="ml-5 mt-8 flex flex-col gap-5 text-sm w-fit">
    <div routerLink="form/step-1"
    class="flex text-white cursor-pointer items-center">
        <div routerLinkActive="bg-[#9CD2FC] border-[#9CD2FC] text-[#473DFF] font-bold" 
        class="m-2 p-2 w-[35px] h-[35px] border border-solid rounded-full 
        flex items-center justify-center ">1</div>

        <div class="ml-2 flex flex-col">
            <p class="uppercase">step 1</p>
            <b class="uppercase">your info</b>
        </div>
    </div>
    
    <div routerLink="form/step-2"
    class="flex text-white cursor-pointer items-center">
        <div routerLinkActive="bg-[#9CD2FC] border-[#9CD2FC] text-[#473DFF] font-bold" 
        class="m-2 p-2 w-[35px] h-[35px] border border-solid rounded-full 
        flex items-center justify-center ">2</div>

        <div class="ml-2 flex flex-col">
            <p class="uppercase">step 2</p>
            <b class="uppercase">select plan</b>
        </div>
    </div>

    <div routerLink="form/step-3"
    class="flex text-white cursor-pointer items-center">
        <div routerLinkActive="bg-[#9CD2FC] border-[#9CD2FC] text-[#473DFF] font-bold" 
        class="m-2 p-2 w-[35px] h-[35px] border border-solid rounded-full 
        flex items-center justify-center ">3</div>

        <div class="ml-2 flex flex-col">
            <p class="uppercase">step 3</p>
            <b class="uppercase">add-ons</b>
        </div>
    </div>

    <div routerLink="form/step-4"
    class="flex text-white cursor-pointer items-center">
        <div routerLinkActive="bg-[#9CD2FC] border-[#9CD2FC] text-[#473DFF] font-bold" 
        class="m-2 p-2 w-[35px] h-[35px] border border-solid rounded-full 
        flex items-center justify-center ">4</div>

        <div class="ml-2 flex flex-col">
            <p class="uppercase">step 4</p>
            <b class="uppercase">summary</b>
        </div>
    </div>
</div>

